
.add-product {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.add-product h2 {

}

.add-product form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 600px;
  border: 1px solid black;
  padding:1em;

}

.add-product form .name {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
  
}

.add-product form .image {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}
.add-product form .description {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}

.add-product form .price {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}

.add-product form .category {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;

}

.add-product form .rating {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}
.add-product form input, .add-product form select {
  padding:0.5em;
  width: 100%;
}